[submodule "api"]
	path = api
	url = https://github.com/5zig-reborn/plugin-api
[submodule "i18n"]
	path = i18n
	url = https://github.com/5zig-reborn/translations
[submodule "version-specific"]
	path = version-specific
	url = https://github.com/5zig-reborn/version-support
